In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import urllib.request
import json
%matplotlib inline

In [2]:
data = pd.read_csv('mock_student_data.csv')
df = pd.DataFrame(data, )

In [3]:
df

,ID,First_name,Last_name,State,Gender,Age,GPA,Days_missed,Graduated
0,1,Wayne,Boyd,Florida,Male,19.0,NaN,9.0,Yes
1,2,Ann,Matthews,Pennsylvania,Female,18.0,3.0,NaN,Yes
2,3,George,Matthews,Texas,NaN,17.0,NaN,10.0,Yes
3,4,Jerry,Ramos,California,Male,15.0,2.0,28.0,No
4,5,Andrea,Carroll,North Carolina,Female,NaN,2.0,29.0,No
5,6,Annie,Fisher,Virginia,Female,19.0,NaN,5.0,Yes
6,7,Stephanie,Barnes,Oklahoma,Female,NaN,3.0,20.0,No
7,8,Janet,Jenkins,Louisiana,Female,15.0,4.0,20.0,Yes
8,9,Betty,Miller,NaN,NaN,17.0,3.0,23.0,No
9,10,Henry,Woods,Colorado,Male,19.0,4.0,14.0,Yes
10,11,Stephanie,Harris,NaN,Female,NaN,NaN,3.0,Yes
11,12,Samuel,George,Georgia,Male,15.0,3.0,13.0,No
12,13,Todd,Phillips,Indiana,NaN,NaN,2.0,3.0,Yes
13,14,Nicholas,Rice,Florida,Male,NaN,2.0,8.0,No
14,15,Jacqueline,Wallace,New York,Female,NaN,2.0,26.0,No
15,16,Phyllis,Burton,Texas,Female,16.0,3.0,18.0,No
16,17,Sandra,Hudson,NaN,Female,NaN,4.0,20.0,Yes
17,18,Karen,Bell,Mississippi,Female,17.0,3.0,10.0,No
18,19,Lori,Patterson,New York,Female,18.0,NaN,17.0,Yes
19,20,Ann,Banks,Pennsylvania,Female,15.0,4.0,18.0,Yes
20,21,Sara,Williams,NaN,Female,17.0,NaN,24.0,Yes
21,22,Benjamin,Butler,Connecticut,Male,18.0,NaN,4.0,Yes
22,23,Lori,Lopez,NaN,Female,19.0,3.0,15.0,No
23,24,Ryan,Porter,New York,Male,15.0,2.0,10.0,No
24,25,Anthony,Burke,Texas,NaN,16.0,2.0,14.0,No
25,26,Katherine,Rodriguez,Arizona,Female,16.0,4.0,3.0,Yes
26,27,Harry,Larson,NaN,Male,18.0,3.0,15.0,No
27,28,Joyce,Patterson,Virginia,Female,18.0,4.0,22.0,Yes
28,29,Jonathan,Wells,Indiana,Male,19.0,NaN,20.0,Yes
29,30,Jesse,Hamilton,New York,Male,19.0,2.0,27.0,No
...,...,...,...,...,...,...,...,...,...
970,971,Michelle,Greene,Oklahoma,Female,NaN,4.0,8.0,Yes
971,972,Christopher,Stanley,Colorado,Male,16.0,2.0,29.0,No
972,973,Jeffrey,Mason,Georgia,Male,NaN,4.0,NaN,Yes
973,974,Phyllis,Smith,NaN,NaN,NaN,4.0,22.0,Yes
974,975,Jessica,Montgomery,Michigan,Female,18.0,3.0,18.0,No
975,976,Jessica,Wheeler,California,Female,NaN,2.0,NaN,Yes
976,977,Carl,Bryant,Ohio,NaN,17.0,2.0,29.0,No
977,978,Wanda,Rivera,New York,Female,18.0,4.0,16.0,Yes
978,979,Betty,Reid,Delaware,NaN,15.0,3.0,3.0,Yes
979,980,Ruby,Diaz,Ohio,Female,15.0,4.0,30.0,Yes
980,981,Thomas,Myers,Texas,Male,15.0,3.0,2.0,Yes
981,982,Jane,Sims,Texas,Female,19.0,2.0,25.0,No
982,983,Laura,Nelson,NaN,Female,17.0,2.0,NaN,Yes
983,984,Jessica,Gonzales,Nevada,Female,17.0,3.0,15.0,No
984,985,Ralph,Freeman,California,Male,18.0,3.0,31.0,No
985,986,Jose,Jordan,Connecticut,Male,NaN,4.0,20.0,Yes
986,987,Andrea,Banks,California,Female,19.0,2.0,11.0,No
987,988,Gloria,Ross,Missouri,NaN,NaN,4.0,NaN,Yes
988,989,Harry,Carr,Nebraska,NaN,16.0,NaN,34.0,Yes
989,990,Anthony,Sanders,District of Columbia,NaN,15.0,4.0,2.0,Yes
990,991,Ruby,King,California,Female,18.0,4.0,14.0,Yes
991,992,Deborah,King,New York,Female,19.0,4.0,31.0,Yes
992,993,Arthur,Green,Oklahoma,Male,NaN,4.0,20.0,Yes
993,994,Earl,Weaver,Ohio,Male,19.0,2.0,26.0,No
994,995,Ralph,Lopez,District of Columbia,NaN,16.0,4.0,NaN,Yes
995,996,Frank,Stone,Louisiana,Male,16.0,4.0,25.0,Yes
996,997,Shirley,Garrett,Minnesota,Female,15.0,4.0,NaN,Yes
997,998,Jane,Rodriguez,Ohio,NaN,17.0,NaN,20.0,Yes
998,999,Robin,George,California,Female,19.0,NaN,NaN,Yes
999,1000,Martin,Fowler,Texas,Male,18.0,3.0,19.0,No

In [81]:
def summary_stats(df):
    
    values = ['Age', 'Days_missed', 'GPA']
    data = {}
    desc_stats = df.describe() 
    for value in values:
        info = []
        mean = desc_stats[value]['mean']
        median = desc_stats[value]['50%']
        SD = desc_stats[value]['std']
        missing_data = (len(df.index)) - df.count()[value]
        mode = df.mode()[value]

        possible_modes = []
        for x in range(len(mode)):
            possible_modes.append(mode[x])
        
        modes=[]
        for x in possible_modes:
            if x > 0 or x < 0:
                modes.append(x)
    
        info.extend([mean, median, modes, SD, missing_data])
        data[value] = info

    rows = ['Mean', 'Median', 'Mode', 'Standard Deviation', 'Missing Values']

    stats = pd.DataFrame(data, rows)
    return stats
    stats.to_csv('descriptive_statistics.csv')

In [82]:
summary_stats(df)

[15.0]
[6.0, 14.0, 31.0]
[2.0]

                        Age        Days_missed       GPA
Mean                16.9961            18.0111   2.98845
Median                   17                 18         3
Mode                 [15.0]  [6.0, 14.0, 31.0]     [2.0]
Standard Deviation  1.45807            9.62937  0.818249
Missing Values          229                192       221